#Series

In [ ]:
import pandas as pd

In [ ]:
import pandas as series

In [ ]:
s1=pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
x=[1,2,3,4,5]

In [ ]:
var=pd.Series(x,index=['a','b','c','d','e'],dtype="float",name="python")
print(var)
print(type(var))

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>

changing index

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

with dictionary of PD

In [ ]:
pd.Series({'a':10,'b':20,'c':30,'d':40})

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
dic ={"name":['python','c','c++','java'],"por":[12,13,14,15],"rank":[1,4,3,2]}

var=pd.Series(dic)

print(var)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [ ]:
s=pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
s1 =pd.Series(12,index=[1,2,3,4,5,6,7])  ##Here 5,6,7 is missing data
s2 =pd.Series(12, index=[1,2,3,4])  
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

###DataFrame

In [ ]:
import pandas as pd

In [ ]:
list=[1,2,3,4,5]

var=pd.DataFrame(list)
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [ ]:

dict1={"a":[1,2,3,4,5,6],"b":[7,8,9,10,11,12],"c":[13,14,15,16,17,18]}  ### here multiple variable should be same length.

var1=pd.DataFrame(dict1,columns=["a","c"],index=['a','b','c','d','e','f'])
print(var1)
print(type(var1))

   a   c
a  1  13
b  2  14
c  3  15
d  4  16
e  5  17
f  6  18
<class 'pandas.core.frame.DataFrame'>

In [ ]:
 
dict1={"a":[1,2,3,4,5,6],"b":[7,8,9,10,11,12],"c":[13,14,15,16,17,18],"d":[19,20,21,22,23,24]}

var1=pd.DataFrame(dict1)
print(type(var1))
print(var1)
print(var1["b"][3])

<class 'pandas.core.frame.DataFrame'>
   a   b   c   d
0  1   7  13  19
1  2   8  14  20
2  3   9  15  21
3  4  10  16  22
4  5  11  17  23
5  6  12  18  24
10

In [ ]:
list_1=[[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]

var2=pd.DataFrame(list_1)
print(var2)

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [ ]:
sr={"s":pd.Series([1,2,3,4]),"r":([5,6,7,8])}
var3=pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  r
0  1  5
1  2  6
2  3  7
3  4  8
<class 'pandas.core.frame.DataFrame'>

In [ ]:
pd.DataFrame({"name":["shabaz","danish","atif"],"marks":[95,85,75]})

     name  marks
0  shabaz     95
1  danish     85
2    atif     75

Arithmetics operation of pandas

In [ ]:
import pandas as pd

In [ ]:
var = pd.DataFrame({"A":[1,2,3,4,],"B":[5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [ ]:
var["c"] = var["A"] + var["B"]
var

   A  B   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [ ]:
var["c"] = var["A"] - var["B"]
var

   A  B  c
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [ ]:
var["c"] = var["A"] / var["B"]
var

   A  B         c
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [ ]:
var["c"] = var["A"] * var["B"]
var

   A  B   c
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [ ]:
var1 = pd.DataFrame({"A":[10,20,30,40,],"B":[15,16,17,18]})

var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [ ]:
var1["python"]=var1["A"]<=20

var1

    A   B  python
0  10  15    True
1  20  16    True
2  30  17   False
3  40  18   False

In [ ]:
var1["python"]=var1["A"]<=20
var1['python_1']=var1["B"]>=16

var1

    A   B  python  python_1
0  10  15    True     False
1  20  16    True      True
2  30  17   False      True
3  40  18   False      True

#Insert of pandas

In [ ]:
import pandas as pd

In [ ]:
var=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [ ]:
var.insert(1,"python",var["A"])
var

   A  python   B
0  1       1   6
1  2       2   7
2  3       3   8
3  4       4   9
4  5       5  10

In [ ]:
var.insert(1,"python_1",[11,12,13,14 ,15])
var

   A  python_1  python   B
0  1        11       1   6
1  2        12       2   7
2  3        13       3   8
3  4        14       4   9
4  5        15       5  10

In [ ]:
var["python_12"] =var["A"][:3]

var

   A  python_1  python   B  python_12
0  1        11       1   6        1.0
1  2        12       2   7        2.0
2  3        13       3   8        3.0
3  4        14       4   9        NaN
4  5        15       5  10        NaN

###Delete

In [ ]:
import pandas as pd

In [ ]:

dict1={"a":[1,2,3,4,5,6],"b":[7,8,9,10,11,12],"c":[13,14,15,16,17,18]}

var1=pd.DataFrame(dict1)

print(var1)

   a   b   c
0  1   7  13
1  2   8  14
2  3   9  15
3  4  10  16
4  5  11  17
5  6  12  18

In [ ]:
var=var1.pop("a")
var1

    b   c
0   7  13
1   8  14
2   9  15
3  10  16
4  11  17
5  12  18

In [ ]:
del var1["b"]
var1

    c
0  13
1  14
2  15
3  16
4  17
5  18

#Write CSV Files in PD

In [ ]:
import pandas as pd

In [ ]:
import pandas as false

In [ ]:
dic={"a":[1,2,3,4,5,],"b":[1,2,3,4,5,],"c":[1,2,3,4,5]}

In [ ]:
d=pd.DataFrame(dic)
print(d)

d.to_csv("test_new2.csv",index=false,header=[1,2,3])

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5

#Read CSV in PD

In [ ]:
import pandas as pd

In [ ]:
import pandas as csv

In [ ]:
csv=pd.read_csv('/content/train.csv')

print(csv.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
csv=pd.read_csv('/content/weather.csv')

print(csv.head())

   Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                0.00  2016-01-03           1             3       2016
1                0.00  2016-01-03           1             3       2016
2                0.16  2016-01-03           1             3       2016
3                0.00  2016-01-03           1             3       2016
4                0.01  2016-01-03           1             3       2016

  Station.City Station.Code Station.Location Station.State  \
0   Birmingham          BHM   Birmingham, AL       Alabama
1   Huntsville          HSV   Huntsville, AL       Alabama
2       Mobile          MOB       Mobile, AL       Alabama
3   Montgomery          MGM   Montgomery, AL       Alabama
4    Anchorage          ANC    Anchorage, AK        Alaska

   Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                         39                         46
1                         39                         47
2                         46                         51
3                         45                         52
4                         34                         38

   Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                         32                   33             4.33
1                         31                   32             3.86
2                         41                   35             9.73
3                         38                   32             6.86
4                         29                   19             7.80

In [ ]:
csv2=pd.read_csv('/content/weather.csv',nrows=5)

csv2

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

In [ ]:
csv2=pd.read_csv('/content/weather.csv',usecols=["Station.Location"])

csv2.head()

  Station.Location
0   Birmingham, AL
1   Huntsville, AL
2       Mobile, AL
3   Montgomery, AL
4    Anchorage, AK

In [ ]:
import pandas as pd

In [ ]:
csv3=pd.read_csv('/content/submission.csv')

csv3.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [ ]:
csv3.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [ ]:
csv3=pd.read_csv('/content/submission.csv',usecols=[0])

csv3.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [ ]:
csv3=pd.read_csv('/content/submission.csv',usecols=[1])

csv3.tail()

     Survived
413         0
414         1
415         0
416         0
417         0

In [ ]:
csv3=pd.read_csv('/content/submission.csv',skiprows=[1])

csv3.head()

   PassengerId  Survived
0          893         0
1          894         0
2          895         0
3          896         1
4          897         0

#Pandas Functions

In [ ]:
import pandas as pd

In [ ]:
csv_1=pd.read_csv('/content/submission.csv')

csv_1

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
csv_1.index

RangeIndex(start=0, stop=418, step=1)

In [ ]:
csv_1.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [ ]:
csv_1.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.358852
std     120.810458    0.480238
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [ ]:
csv_1[6:10]

   PassengerId  Survived
6          898         1
7          899         0
8          900         1
9          901         0

In [ ]:
csv_1.index.array

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 408, 409, 410, 411, 412, 413, 414, 415, 416, 417]
Length: 418, dtype: int64

In [ ]:
data = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }
 
data_table = pd.DataFrame(data)
print(data_table)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98